@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js";
@import "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.secondary-btn, .primary-btn {
  font-weight: 700;
  transition: 0.4s;
  padding: 20px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  border-radius: 40px;
}

h2::after, h2::before {
  content: "";
  position: absolute;
  background-color: #ff0000;
  width: 30%;
  height: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
.logo__icon {
  margin-right: 8px;
}
.logo__name {
  color: #ff0000;
  margin-right: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: 0.4s;
  text-transform: uppercase;
}

.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: grid;
}

section {
  padding: 100px 15px;
}

h2 {
  font-size: 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 70px;
}
h2::before {
  left: 30%;
  top: -15px;
}
h2::after {
  right: 30%;
  bottom: -15px;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
}

.primary-btn {
  color: #fff;
  background-color: #ff0000;
}

.secondary-btn {
  color: #ff0000;
  background-color: #fff;
}

p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: #00000066;
  height: 90px;
  border-bottom: 2px solid #ffffff33;
  padding: 0 10px;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.header__container {
  grid-template-columns: 5fr 1fr;
  justify-self: center;
  align-items: center;
}
.header__logo {
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.header__nav {
  height: 100%;
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0%);
  overflow-y: hidden;
  transition: 0.4s;
}
.header__menu.active {
  transform: translate(0%, 0%);
  background-color: rgba(0, 0, 0, 0.842);
}
.header__item {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  padding: 0 20px;
}
.header__item:hover {
  background-color: rgba(230, 230, 230, 0.4);
}
.header__link {
  font-size: 1rem;
  font-weight: 700;
}
.header__hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  z-index: 4;
}
.header__hamburger span {
  height: 3px;
  width: 35px;
  background-color: #fff;
  border-radius: 15px;
  transition: 0.45s ease-in-out;
}
.header__hamburger.active {
  transform: translateY(-50%) rotate(360deg);
}
.header__hamburger.active span {
  position: absolute;
  transition: 0.3;
  background-color: #ff0000;
}
.header__hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}
.header__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.header__hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}
@media (min-width:1024px) {
  .header__menu {
    flex-direction: row;
  }
}

.opening {
  width: 100%;
  height: 95vh;
  background-image: url(../../assets/Image.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
.opening::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.3;
}
.opening__content {
  text-align: center;
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.opening__slogan {
  font-size: 3rem;
  font-weight: 900;
}
.opening__message {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}
.opening__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.opening__buttons button {
  width: 80%;
  max-width: 19rem;
  margin: 10px 5px;
  text-transform: uppercase;
}
.opening__arrow {
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 50%;
  background-color: #ff0000;
  width: 55px;
  height: 55px;
  text-align: center;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
.opening__arrow img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blog__container {
  grid-template-rows: repeat(3, 35rem);
  grid-row-gap: 3rem;
  justify-content: center;
}
.blog__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 720px;
}
.blog__img {
  width: 100%;
  max-width: 520px;
}
.blog__name {
  text-align: left;
  width: 100%;
}
.blog__text {
  color: #6a6a6a;
}
.blog__btn {
  font-size: 1rem;
  font-weight: 400;
}

.service {
  background-color: #28272c;
  color: #fff;
}
.service__container {
  grid-template-rows: repeat(auto-fit, 30rem);
  align-items: center;
}
.service__article {
  text-align: center;
}
.service__article * {
  margin: 0.7rem 0;
}
.service__text {
  color: #b2b2b2;
}

.contact__container {
  grid-template-rows: 1fr 300px;
  grid-row-gap: 3rem;
  grid-template-columns: 1fr;
  justify-content: center;
}
.contact__img {
  margin: 0 auto;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 100%;
}
.contact__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}
.contact input {
  padding: 20px;
}
.contact textarea {
  resize: none;
}
.contact input,
.contact textarea {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.contact input:focus,
.contact textarea:focus {
  border-color: #ff0000;
  box-shadow: 0px 1px 6px #ff00004d;
}
.contact input[type=checkbox] {
  display: none;
}
.contact input[type=checkbox] + label:before {
  content: " ";
  color: white;
  border: 1px solid #95989a;
  border-radius: 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 3px 4px;
  cursor: pointer;
}
.contact input[type=checkbox]:checked + label:before {
  content: " ";
}
.contact__agreement {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contact__agreement-text {
  font-size: 0.75rem;
  margin-left: 15px;
  color: #b2b2b2;
}
/*# sourceMappingURL=main.css.map */
