@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: var(--regular-font);
  border-radius: 40px;
  border: 0;
  font-weight: var(--bold-font);
  transition: var(--hover-transition);
  color: #fff;
  background-color: var(--alert-color);
}

section {
  padding: 100px 0;
}

h2 {
  font-size: var(--large-font);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
}

h2::before {
  content: "";
  position: absolute;
  left: -30%;
  top: 50%;
  height: 3px;
  background-color: var(--alert-color);
  width: 50px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 6px #ff00004d;
  border-radius: 8px;
}

h2::after {
  content: "";
  position: absolute;
  left: 130%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--alert-color);
  width: 50px;
  box-shadow: 0px 1px 6px #ff00004d;
  border-radius: 8px;
  height: 3px;
}

.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: grid;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
.logo__icon {
  margin-right: 8px;
}
.logo__name {
  color: #ff0000;
  margin-right: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: 0.4s;
  text-transform: uppercase;
}

.header {
  background-color: #00000066;
  height: 90px;
  border-bottom: 2px solid #ffffff33;
  padding: 0 10px;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.header__container {
  grid-template-columns: 5fr 1fr;
  justify-self: center;
  align-items: center;
}
.header__logo {
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.header__nav {
  height: 100%;
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 90px);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-100%, 100%);
  overflow-y: hidden;
}
.header__menu.active {
  transform: translate(0%, 100%);
  background-color: #00000066;
}
.header__item {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.4s;
  padding: 0 20px;
}
.header__item:hover {
  background-color: rgba(230, 230, 230, 0.4);
}
.header__link {
  font-size: 1rem;
  font-weight: 700;
}
.header__hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.header__hamburger span {
  height: 3px;
  width: 35px;
  background-color: #fff;
  border-radius: 15px;
  transition: 0.45s ease-in-out;
}
.header__hamburger.active {
  transform: translateY(-50%) rotate(360deg);
}
.header__hamburger.active span {
  position: absolute;
  transition: 0.3;
  background-color: #ff0000;
}
.header__hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}
.header__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.header__hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}
@media (min-width:1024px) {
  .header__menu {
    flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */
