@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: var(--regular-font);
  border-radius: 40px;
  border: 0;
  font-weight: var(--bold-font);
  transition: var(--hover-transition);
  color: #fff;
  background-color: var(--alert-color);
}
section {
  padding: 100px 0;
}
section > .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  font-size: var(--large-font);
  position: relative;
  width: fit-content;
  height: 40px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
}
h2::before {
  content: "";
  position: absolute;
  left: -30%;
  top: 50%;
  height: 3px;
  background-color: var(--alert-color);
  width: 50px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 6px #ff00004d;
  border-radius: 8px;
}
h2::after {
  content: "";
  position: absolute;
  left: 130%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--alert-color);
  width: 50px;
  box-shadow: 0px 1px 6px #ff00004d;
  border-radius: 8px;
  height: 3px;
}

:root {
  --alert-color: #ff0000;
  --black-color: #00000066;
  --grey-color: #6a6a6a;
  --extra-bold-font: 900;
  --bold-font: 700;
  --normal-font: 400;
  --large-font: 3.6rem;
  --regular-font: 1.6rem;
  --hover-transition: 0.4s;
  --open-sans-font: "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.menu {
  background-color: var(--black-color);
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  padding: 0 140px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #ffffff33;
}
.menu__logo {
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.menu__logo img {
  margin-right: 8px;
}
.menu__logo span {
  color: #ff0000;
  margin-right: 10px;
}
.menu__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  width: 80%;
}
.menu__link {
  text-decoration: none;
  font-weight: var(--bold-font);
  font-size: var(--normal-font);
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.menu__item {
  width: 100%;
  padding: 38px 30px;
  transition: 0.4s;
  cursor: pointer;
  display: block;
}
.menu__item:hover {
  background-color: #ffffff48;
}

.main {
  background-image: url(../assets/Image2x.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
  position: relative;
  color: white;
  padding: 0;
}
.main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
.main__header {
  font-size: 9rem;
  text-shadow: 0px 3px 6px #00000040;
  font-weight: var(--extra-bold-font);
}
.main__text {
  font-size: 1.8rem;
  font-weight: var(--bold-font);
  margin: 35px 0 50px;
}
.main__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  position: relative;
}
.main__btn {
  padding: 20px 50px;
}
.main__btn--uncolored {
  background-color: var(--alert-color);
  background-color: #fff;
  color: var(--alert-color);
}
.main__btn:hover {
  background-color: rgb(145, 16, 16);
  color: #fff;
}
.main__btn--colored:hover {
  background-color: rgb(206, 206, 206);
  color: var(--alert-color);
}
.main__down {
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  background-color: var(--alert-color);
  box-shadow: 0px 3px 6px #ff00004d;
}

.blog__header {
  padding: 0 7px;
}
.blog__article {
  text-align: left;
}
.blog__article__header {
  font-size: 1.9rem;
  font-weight: var(--normal-font);
  text-transform: var(--normal-font);
  color: var(--grey-color);
  margin: 20px 0;
}
.blog__text {
  margin: 25px 0;
  color: var(--grey-color);
  font-size: 1.4rem;
  font-family: var(--open-sans-font);
  font-weight: var(--normal-font);
}
.blog__btn {
  padding: 10px 20px;
  box-shadow: 0px 3px 6px #ff00004d;
}
.blog__btn:hover {
  opacity: 0.7;
}
.article__content {
  width: 70%;
}
.service {
  background-color: #28272c;
  color: #fff;
}

.service__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  margin: 0 20px;
  text-align: center;
  height: 400px;
}
.service__name {
  font-size: 1.9rem;
  font-weight: var(--regular-font);
}
.service__text {
  color: #b2b2b2;
  font-size: 1.4rem;
}
.service__photo {
  width: 80%;
}
.service__btn {
  padding: 10px 20px;
  box-shadow: 0px 3px 6px #ff00004d;
}
