@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --alert-color: #ff0000;
  --black-color: #00000066;
  --bold-font: 700;
  --normal-font: 400;
  --large-font: 3.6rem;
  --regular-font: 1.6rem;
}
.container {
  max-width: 1088px;
  width: 100%;
}
.menu {
  background-color: var(--black-color);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 93px;
  padding: 30px 140px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #ffffff33;
}
.menu__logo {
  font-size: 35px;
  display: flex;
  justify-content: space-between;
}
.menu__logo img {
  margin-right: 8px;
}
.menu__logo span {
  color: #ff0000;
}
.menu__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  width: 80%;
}
.menu__item {
  transition: 0.4s;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: var(--bold-font);
  font-size: var(--normal-font);
  display: block;
  width: 100%;
  height: 100%;
  padding: 100% 30px;
}
.menu__item:hover {
  background-color: #ffffff48;
}

.main__section {
  background-image: url(../images/Image.png);
  background-position: center;
  background-size: 130%;
  height: 100vh;
  width: 100vw;
}
