* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: var(--regular-font);
  border-radius: 40px;
  border: 0;
  font-weight: var(--bold-font);
  transition: var(--hover-transition);
  color: #fff;
  background-color: var(--alert-color);
}
section {
  padding: 100px 0;
}

h2 {
  font-size: var(--large-font);
  position: relative;
  width: fit-content;
  height: 40px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
}
h2::before {
  content: "";
  position: absolute;
  left: -30%;
  top: 50%;
  height: 3px;
  background-color: var(--alert-color);
  width: 50px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 6px #ff00004d;
  border-radius: 8px;
}
h2::after {
  content: "";
  position: absolute;
  left: 130%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--alert-color);
  width: 50px;
  box-shadow: 0px 1px 6px #ff00004d;
  border-radius: 8px;
  height: 3px;
}
.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: grid;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;

  &__icon {
    margin-right: 8px;
  }
  &__name {
    color: #ff0000;
    margin-right: 10px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: $hover-transition;
  text-transform: uppercase;
}
