* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
}
.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;

  &__icon {
    margin-right: 8px;
  }
  &__name {
    color: #ff0000;
    margin-right: 10px;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: $hover-transition;
  text-transform: uppercase;
}

.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: grid;
}
section {
  padding: 100px 15px;
}

h2 {
  font-size: 2rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 70px;
  &::before {
    @extend %headers-lines;
    left: 30%;
    top: -15px;
  }
  &::after {
    @extend %headers-lines;
    right: 30%;
    bottom: -15px;
  }
}
h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
}
.primary-btn {
  @extend %button-style;
  color: #fff;
  background-color: $primary-color;
}
.secondary-btn {
  @extend %button-style;
  color: $primary-color;
  background-color: #fff;
}

p {
  font-family: $secondary-font;
}
