.service {
  background-color: #28272c;
  color: #fff;

  &__container {
    grid-template-rows: repeat(auto-fit, 30rem);
    align-items: center;
  }
  &__article {
    text-align: center;
    * {
      margin: 0.7rem 0;
    }
  }
  &__text {
    color: #b2b2b2;
  }
}
